*{
  margin: 0px;
  padding: 0px;
box-sizing: border-box;

}
:root {
--gray: #808080;
--gray-medium: #c1bfbf;
--gray-light: #d3d3d3;
--paper-color: #FBEFD3;          
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #b8c6db;
  
}
#bg{
      
  position: relative;
      text-align: center;
      color: white;
width: 100%;
height: 119px;
}
.lg{
  width: 100%;
  font-family: 'VALORANT';
}
h1{
      position: absolute;
      top: 245px;
      left: 590px;
}
.c{
position: relative;
top: 22px;
text-align: center;
display: flex;  
font-family: 'Patrick Hand SC', cursive;
font-size: x-large;
}
.inp{
  padding-top: 40px;
  position: relative;
  top: 139px;
  left: -18px;
}
input[type=text]{
  border: 0;
  outline: 0;
  background-color:#EBECF0;
  text-shadow: 1px 1px 0 #BABECC;
  width:400px;
  height: 50px;
  transition: width 0.4s ease-in-out;
  border-radius: 25px;
  margin-right: 8px;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px  #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  font-size:25px;
  -webkit-appearance: none;
  font-family: 'Patrick Hand SC', cursive;

 
}
  input:focus {
    box-shadow:  inset 1px 1px 2px  #BABECC, inset -1px -1px 2px #FFF;
  }

input::placeholder{
   opacity: 0.7;
 font-size: larger;
 font-family: 'Patrick Hand SC', cursive;
}
li{

  list-style: none;
  left: -24px;
  position: relative;
  top: 136px;
  padding-top: 20px;
  transition: color .3s ease;
}

.box{
  left: -80px;
  position: relative;
  top: 136px;
  padding-top: 20px;  
}
p{
font-size:25px;;
font-weight: 200;
text-shadow: 1px 1px 0 #BABECC;
font-family: 'Patrick Hand SC', cursive;
}

.bt {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #b8c6db 0, #f5f7fa 100%);
  border: 0;
  font-family: 'VALORANT';
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 19px;
  position: relative;
  top: 27px;
  left: 52px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.bt:focus {
  box-shadow: #b8c6db 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px,#b8c6db 0 -3px 0 inset;
}

.bt:hover {
    
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px,#b8c6db 0 -3px 0 inset;
  transform: translateY(-2px);
}

.bt:active {
  box-shadow: #b8c6db 0 3px 7px inset;
  transform: translateY(2px);
}

.material-symbols-outlined {
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  position:absolute;
  text-decoration: none;
 top: 68px;
  right: 10px;
  cursor: pointer;
  padding: 10px;
  height: 45px;
  align-items: center;
  width: 45px;
  border-radius: 50%;
  color:black;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
 
}
.bt:focus {
  box-shadow:#f5f7fa 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #f5f7fa 0 -3px 0 inset;
}

.material-symbols-outlined:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.material-symbols-outlined:hover {
    border-radius:50% ;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
      transform: scale(1.2);

}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.name {
  font-weight: bold;
}
.card::-webkit-scrollbar {
  display: none;
}

.card {
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  /* overflow: auto; */
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em;
  margin: 1rem;
  border-radius: 5px;
  background:  var(--paper-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      border-radius: 10px;
      box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      cursor: pointer;
      transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
      background-color: var(--paper-color);
      position: relative;
      padding: 10px;
    
     min-width: 24rem;
      min-height: 120px;
      background: linear-gradient(
        135deg,
        var(--paper-color),
        85%,
        var(--gray-light)
      );
      box-shadow: 1px 0 1px var(--gray);
      text-align: center;
      border-top: 1px dashed var(--gray);
    } 
      .card:hover {
        transform: scale(1.2);
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
      }
    
 
.card::before {
content: "";
position: absolute;
left: 5px;
top: 5px;
width: 10px;
height: 10px;
border-radius: 50%;
background: var(--gray);
}

.card::after {
content: "";
position: absolute;
right: 5px;
top: 5px;
width: 10px;
height: 10px;
border-radius: 50%;
background: var(--gray);
}
